h1 {
  margin-bottom: 25px;
  font-size: 2.5rem;
}

button {
  border: none;
  background: var(--color-background-mute);
  color: var(--color-text);
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  background: var(--color-background-soft);
}
